

.app {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
    font-family: 'Inconsolata', monospace;
    background-color: whitesmoke;
}    


.header {
    grid-column: 2 / span 2;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    padding-right: 200px;
    color: blue;
    text-align: center;
    h1 {
        font-size: 65px;
    }
}

.header-card {
    width: 75%;
    padding-left: 20%;
    padding-top: 15px;
}

.logo {
    grid-column: 1/2;
    text-align: center;
    justify-items: center;
    h1 {
        font-size: 1000%;
    }
}

.quals-card-container {
    grid-column: 1/2;
    grid-row: 2/3;
}

.quals-card {
    max-width: 250px;
    padding: 1rem;
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        blue, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
    font-size: 25px;
}

.mission-card-container {
    grid-row: 2/3;
    grid-column: 2/3;
   
    // background-color: whitesmoke;
}

.mission-card {
    // border: 2px solid black;
    width: 35%;
    height: 60%;
    margin-left: 55%;
    margin-top: 7%;
    max-width: 425px;
    font-size: 20px;

}

.footer {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    padding-top: 40px;
    h2 {
        font-size: 45px;
    }

}

.footer-logo {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    justify-items: center;
    h3 {
        font-size: 1000%;
    }
}