

.app {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
    font-family: 'Inconsolata', monospace;
}    


.header {
    grid-column: 2 / span 2;
    width: 100%;
    text-align: center;
    padding-right: 200px;
    color: white;
    text-align: center;
    h1 {
        font-family: 'Stardos Stencil', cursive;
        font-size: 65px;
    }
}

.header-card {
    width: 75%;
    padding-left: 20%;
    padding-top: 15px;
    .fa-linkedin {
        font-size: 30px;
        padding-left: 20px;
        color: blue;
    }
    .fa-linkedin:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-github-square{
        font-size: 30px;
        padding-left: 20px;
        color: black;
    }
    .fa-github-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-github-square{
        font-size: 30px;
        padding-left: 20px;
        color: black;
    }
    .fa-github-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-envelope-square{
        font-size: 30px;
        padding-left: 20px;
        color: whitesmoke;
    }
    .fa-envelope-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
}

.logo {
    grid-column: 1/2;
    text-align: center;
    justify-items: center;
    h1 {
        font-size: 1000%;
    }
}

.quals-card-container {
    grid-column: 1/2;
    grid-row: 2/3;
}

.quals-card {
    max-width: 250px;
    padding: 1rem;
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        white, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
    font-size: 25px;
}



.mission-card {
    // border: 2px solid black;
    width: 35%;
    height: 60%;
    padding-top: 45px;
    margin-left: 10%;
    margin-bottom: 5%;
    max-width: 425px;
    font-size: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    color: black;
}


.photo-card {
   margin-left: -600px;
   overflow: hidden;
   object-fit: contain;

   height: 425px;
   width: 450px;
}

.footer {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    padding-top: 40px;
    h2 {
        font-size: 45px;
        color: white;
    }

}

.footer-logo {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    justify-items: center;
    h3 {
        font-size: 1000%;
    }
}