@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin phone {
    @media (max-width: 700px) {
        @content
    }
}

body {
    background-color: rgb(156, 156, 156)!important;
}

.app {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vw 30vw 10vw;
    grid-gap: 1em;
    font-family: 'Inconsolata', monospace;
    @include phone {
       display: flex;
       flex-direction: column;
    }
}    


.header {
    grid-column: 2;
    width: 100%;
    text-align: center;
    padding-right: 200px;
    color: white;
    text-align: center;
    @include phone {
        padding-right: 0px;
    }
    
    h1 {
        font-family: 'Stardos Stencil', cursive;
        font-size: 65px;
        @include phone {
            font-size: 25px;
        }
    }
}

.header-card {
    width: 75%;
    padding-left: 20%;
    padding-top: 15px;
    .fa-linkedin {
        font-size: 30px;
        padding-left: 20px;
        color: blue;
    }
    .fa-linkedin:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-github-square{
        font-size: 30px;
        padding-left: 20px;
        color: black;
    }
    .fa-github-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-github-square{
        font-size: 30px;
        padding-left: 20px;
        color: black;
    }
    .fa-github-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
    .fa-envelope-square{
        font-size: 30px;
        padding-left: 20px;
        color: whitesmoke;
    }
    .fa-envelope-square:hover {
        font-size: 40px;
        transition: 0.5s;
    }
}

.logo {
    grid-column: 1/2;
    text-align: center;
    justify-items: center;
    h1 {
        font-size: 1000%;
        @include phone {
            font-size: 50px;
        }
    }
}

.quals-card-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    grid-column: 1/2;
    max-width: 250px;
    padding: 1rem;
    color: black;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        white, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
    font-size: 25px;
    grid-row: 2/3;
    @include phone {
        margin-top: 5px;
    }
        .links {
            color: black;
            padding: 10px;
            text-decoration-line: none;
        }
            .links:hover {
                font-size: 40px;
                transition: 0.5s;
            }
          
}

.quals-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-items: center;
    i {
        display: block;
        font-size: 100px;
        padding: 25px;
        color: white;
        animation: fadeIn 2s ease 0s 1 forwards;
        @include phone {
            font-size: 45px;
            margin-bottom: 100px;
        }
        
        

    }
    
}

.mission-card-container {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include phone {
        font-size: 15px;
        justify-content: center;
        flex-direction: column;
    }
}


.tv1 {
    width: 35%;
    height: 60%;
    padding-top: 20px;
    max-width: 425px;
    font-size: 20px;
    color: black;
    margin-bottom: 135px;
    @include phone {
       width: 95vw;
       height: 100%;
       text-align: center;
    }
}

.tv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 610px;
    @include phone {
        width: 95vw;
    }
    
    
    
}

.about-me-card {
    font-size: 25px;
    @include phone {
        font-size: 15px;
    }
}


.photo-card {
   margin-left: -600px;
   overflow: hidden;
   object-fit: contain;
   height: 425px;
   width: 450px;
   @include phone {
    img {
        width: 85vw;
        height: 80vh;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    }

}

.footer {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    padding-top: 70px;
    @include phone {
        padding-top: 0px;
    }
    h2 {
        font-size: 45px;
        color: white;
        @include phone {
            font-size: 20px;
        }
    }

}

.footer-logo {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    justify-items: center;
    h3 {
        font-size: 1000%;
        @include phone {
            font-size: 50px;
        }
    }
    
}


// <p><i class="fab fa-python"></i>python</p>
// <i class="fab fa-js-square">JavaScript</i>
// <i class="fab fa-react">React</i>
// <i class="fab fa-html5"></i>
// <i class="fab fa-sass"></i>
// <i class="fab fa-css3-alt"></i>